html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    background-color: #333333;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: #222222;
}

.buttonParent {
    padding: 10px 0 10px 20px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #ddd;
    text-align: center;
}

.uiButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #aaa;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font: bold 15px Arial;
    padding: 6px 60px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-right: 10px;
}

.uiButton:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

.uiButton:active {
    position: relative;
    top: 1px;
}
