html, body {

    margin: 0;
	padding: 0;
	border: 0;

    overflow-y: hidden;
    overflow-x: hidden;

    background-color: #999;
}


#control-panel {

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
}


#control-panel-header {

    width: 400px;
    height:40px;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/img/panel-header.png);
}



#control-panel-body {

    box-sizing: border-box;

    width: 400px;
    height: calc(100% - 40px);

    border-style: solid;
    border-width: 20px;
    border-image: url(/img/panel-background.png) fill 25;
}
